* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
    background-color: #fff;
    color: #9b9cb1;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.28572;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

h1,
.h1 {
    color: #202020;
    font-size: 30px;
}

/* hr {
    border: 0;
    border-top: 1px solid #eee;
    margin-bottom: 18px;
    margin-top: 18px;
} */

.text-gray {
    color: #8c8c8c;
}

.btn {
    transition: opacity, transform 0.3s;
    -webkit-appearance: none;
    background-color: #ffde46;
    background-image: none;
    border: 1px solid transparent;
    border-color: #ffd83b;
    border-radius: 0;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28572;
    margin-bottom: 0;
    padding: 13px 12px;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.btn--submit {
    font-weight: 700;
    padding: 12px 40px;
    text-transform: uppercase;
}

.btn--submit:hover {
    opacity: 0.75;
    transform: scale(1.05);
}

input.btn:focus,
input.btn:active {
    outline: 0;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    padding-left: 9px;
    padding-right: 9px;
}

.head {
    margin: 58px 20px 52px;
}

.head__container {
    align-items: center;
    display: flex;
    max-width: 1450px;
}

.head__logo,
.head__slogan {
    flex: 0 1 auto;
}

.head__contacts {
    flex: 0 1 auto;
    padding-left: 10px;
    margin: 0 0 0 auto;
}

.head__contacts img {
    display: none;
}

.head-logo,
.foot-logo {
    transition: opacity 0.5s;
    align-items: center;
    color: #202020;
    display: flex;
    line-height: 1;
    text-decoration: none;
}

.head-logo:hover,
.foot-logo:hover {
    opacity: 0.75;
}

.head-logo__name,
.foot-logo__name {
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-left: 10px;
}

.head-logo__icon,
.foot-logo__icon {
    height: 34px;
    width: 34px;
}

.foot-logo__name {
    color: #fff;
}

.head-slogan {
    color: #9b9bb1;
    display: block;
    font-size: 15px;
    letter-spacing: 0.25px;
    margin-left: 24px;
    padding-left: 24px;
    position: relative;
}

.head-slogan:before {
    background-color: #9b9bb1;
    content: "";
    height: 18px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 1px;
}

.head-phone {
    transition: background-color 0.5s;
    color: #202020;
    font-size: 18px;
    letter-spacing: 0;
    text-decoration: none;
    border-radius: 10px;
}

.head-phone:hover {
    background-color: #e5e5e5;
}

.banner {
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    padding: 65px 0 90px;
    text-align: center;
    width: 100%;
}

.banner__title h1 {
    color: #fff;
    font-size: 40px;
}

.banner__hr {
    border: 0;
    border-top: 2px solid #ffde47;
    margin: 34px auto 28px;
    width: 80px;
}

.banner__text {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin: 0 auto 54px;
    max-width: 450px;
}

.section {
    padding: 55px 0 40px;
}

.section__content {
    text-align: center;
}

.section--step {
    padding: 20px 0 31px;
}

.section--how {
    padding: 55px 0 55px;
}

.section--dark {
    background-color: #f9f9f9;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}

.section--cost {
    padding: 55px 0 60px;
}

.section__title {
    margin: 0 auto;
    text-align: center;
    max-width: 430px;
}

.section--brackets {
    padding: 62px 0 60px;
    border-bottom: 1px solid #eee;
}

.section--form {
    padding: 55px 0 36px;
}

.brackets {
    padding: 10px 0 35px;
    position: relative;
}

.brackets--cost {
    margin: -5px 0 5px;
    padding: 10px 0 20px;
}

.brackets:before,
.brackets:after {
    top: 0;
    bottom: 0;
    position: absolute;
    border: 2px solid #ffde47;
    content: "";
    width: 25px;
}

.brackets:before {
    left: 0;
    border-right: none;
}

.brackets:after {
    right: 0;
    border-left: none;
}

.brackets__inner {
    margin: 0 auto;
    color: #9b9cb1;
    text-align: center;
}

.brackets__text {
    position: relative;
    color: #9b9cb1;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 auto;
    max-width: 754px;
    letter-spacing: -0.3px;
}

.brackets__text--cost {
    padding: 35px 0 0 0;
    max-width: 740px;
}

.brackets__text--cost::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background-color: #ffde46;
    top: 5px;
    left: calc(50% - 30px);
}

.icon-lightning {
    margin-bottom: 8px;
}

.icon-lightning__img {
    color: #f15600;
    display: inline-block;
    height: 30px;
    width: 30px;
}

.step-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 26px 0 0;
}

.step-list__item {
    width: 33.33%;
}

.step-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.step-item__icon {
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.step-item__icon img {
    flex: 0 0 auto;
}

.step-item__descr {
    text-align: center;
    max-width: 210px;
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.how-work {
    position: relative;
    padding: 30px 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.how-work::after {
    content: "";
    position: absolute;
    height: 0;
    left: 6.5%;
    right: 6.5%;
    bottom: 12px;
    border-bottom: 3px dashed #999999;
}

.how-work__item {
    text-align: center;
    flex: 0 1 232px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.how-work__item::before {
    content: attr(data-number);
    color: #fee133;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 12px;
}

.how-work__item::after {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    content: "";
    width: 24px;
    height: 24px;
    background-color: #f9fbfb;
    border: 5px solid #fee133;
    border-radius: 50%;
    margin-top: auto;
    box-shadow: 0 0 2px 5px #ffffff;
}

.how-work__desc {
    margin: 0 0 22px;
    color: #202020;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
}

.recall-form {
    margin: 25px auto 22px;
    max-width: 710px;
}

.recall-form__row {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
}

.recall-form__col {
    flex: 1 1 auto;
    padding: 0 10px;
    width: 50%;
}

.recall-form__label {
    display: inline-block;
    margin-bottom: 5px;
    max-width: 100%;
}

.recall-form__input {
    background-color: #fff;
    background-image: none;
    border: 1px solid #cbcbcb;
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #555;
    display: block;
    font-size: 14px;
    height: 46px;
    line-height: 1.28572;
    padding: 13px 12px;
    transition: border-color ease-in-out 0.15s box-shadow ease-in-out 0.15s;
    width: 100%;
    outline: none;
}

.recall-form__input:valid {
    border-color: green;
}

.recall-form__input:invalid:not(:placeholder-shown) {
    border-color: red;
}

.recall-form__warning {
    margin: 30px 0 34px;
    text-align: center;
    color: #202020;
    font-size: 17px;
    font-weight: 400;
}

.recall-form__warning a {
    transition: 0.5s;
    color: #1c608d;
    text-decoration: none;
}

.recall-form__warning a:hover {
    opacity: 0.75;
}

.recall-form__submit {
    text-align: center;
}

.required {
    color: red;
    display: inline-block;
    font-size: 21px;
    padding: 3px 0;
}

.foot {
    background-color: #272727;
}

.foot__body {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1450px;
    padding: 50px 5px 60px;
}

.foot-services-list {
    display: block;
    margin: 5px 0;
}

.foot__social-title {
    background-color: #272727;
    margin: 0 0 15px;
}

.foot-services-list__item {
    display: inline-block;
    transition: 0.5s;
    margin: 0 0 0 8px;
}

.foot-services-list__item:hover {
    opacity: 0.75;
    transform: scale(1.2);
}

.foot__copyright {
    background-color: #1e1e21;
    color: #6c6c6e;
    font-size: 14px;
    padding: 15px 0;
    text-align: center;
}

@media (max-width: 800px) {
    .head-slogan {
        display: none;
    }

    .step-list__item {
        width: 50%;
    }

    .banner__title h1 {
        font-size: 30px;
    }

    .recall-form__col {
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .section__title {
        font-size: 25px;
    }

    .how-work {
        padding: 35px 5px 0;
        justify-content: space-around;
    }

    .how-work::after {
        content: none;
    }

    .how-work__item {
        flex: 0 1 230px;
        margin-bottom: 30px;
    }

    .section--how {
        padding: 10px 0 20px;
    }

    .foot__body {
        flex-direction: column;
        text-align: center;
    }

    .foot-logo {
        margin-bottom: 20px;
    }

    .head__contacts img {
        display: block;
    }

    .head__contacts span {
        display: none;
    }

    .head__container {
        justify-content: space-between;
    }
}

@media (max-width: 540px) {
    .how-work__item::after {
        content: none;
    }
}

@media (max-width: 420px) {
    .step-list__item {
        width: 100%;
    }
}
